* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.nav {
  height: 75x;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0 0 13px rgb(92, 89, 89);
}

.nav-logo {
  max-width: 120px;
}

.main-img {
  max-width: 200px;
  align-self: center;
}

.main-header {
  margin-bottom: 16px;
}

.main-text {
  margin-top: 0;
}

img {
  margin: 0;
  padding: 10px;
  border-radius: 25px;
}

section {
  padding: 20px;
}

.main {
  display: flex;
  flex-direction: column;
}

.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}

.card {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-img {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-stats {
  display: flex;
  align-items: center;
}

.rating-star {
  height: 35px;
}

.card-price {
    margin-top: auto;
}

.gray {
    color: #918e91
}

.bold {
    font-weight: bold;
}

.card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}
